h1,
p {
  font-family: Lato;
}

canvas { background:rgb(160, 241, 180) }
.wrap, .wrap canvas { width:400px; height:300px }
.wrap { position:relative }
.wrap > * { position:absolute }
#go { top:20px; left:40px; width:150px; height:60px }